<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>835536315927-rb62mchntccc6ejt56lfa8a9dqamg4dl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.835536315927-rb62mchntccc6ejt56lfa8a9dqamg4dl</string>
	<key>API_KEY</key>
	<string>AIzaSyB-r5qzJQ_oNK8qO3TMsLAB7RCyMVTefcw</string>
	<key>GCM_SENDER_ID</key>
	<string>835536315927</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp2</string>
	<key>PROJECT_ID</key>
	<string>mychatapp2-2e408</string>
	<key>STORAGE_BUCKET</key>
	<string>mychatapp2-2e408.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:835536315927:ios:d2447473ebbec210d31e52</string>
</dict>
</plist>